.headline {
    padding: 2px 0px 0px 2px;
}

.pieceitem {
    border: 1px solid rgba(0,0,0, 0.125);    
    padding: 0px 0px 0px 0px;
}

.pieceitem a:hover {
    background-color: #555;
    text-decoration: none;
    transition: 0.3s;
}

.pieceitem i {
    padding: 5px;
}

.pieceitem a {
    padding: 12px 20px 12px 20px;
    display: block;
    text-decoration: none;
}