<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="hidden">
        <ul class="list-unstyled components">
            <li><a href="https://twitter.com/ParityB1t"><img src="../assets/img/twitter.png" alt=""/></a></li>
            <li><a href="https://www.linkedin.com/in/hungvhoang/"><img src="../assets/img/linkedin.png" alt=""/></a></li>
            <li><a href="https://github.com/ParityB1t"><img src="../assets/img/github.png" alt=""/></a></li>
            <li><a href="https://parityb1t.itch.io/"><img src="../assets/img/itch.png" alt=""/></a></li>
            <li><a href="https://medium.com/@ParityB1t"><img src="../assets/img/medium.png" alt=""/></a></li>
        </ul>

    </nav>

    <!-- Page Content -->
    <div id="content" class="hidden">
        <nav class="navbar navbar-dark">
            <a class="navbar-brand" href="#">
                <h3>ParityB1t</h3>
            </a>
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <!-- hacky but works -->
        <!-- Basically putting pieces here so can be inside content for responsive sidebar -->
        <app-piece></app-piece>
    </div>
</div>