<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="hidden">
        <ul class="list-unstyled components">
            <li><a href="https://twitter.com/ParityB1t"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/hungvhoang/"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>

    </nav>

    <!-- Page Content -->
    <div id="content" class="hidden">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <h3>ParityB1t</h3>
            </a>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <!-- hacky but works -->
        <!-- Basically putting pieces here so can be inside content for responsive sidebar -->
        <app-piece></app-piece>
    </div>
</div>