<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#socialLinks" aria-controls="socialLinks"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id=socialLinks>
        <ul class="navbar-nav ml-auto">
            <li><a href="https://twitter.com/ParityB1t"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/hungvhoang/"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>

</nav>
-->

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="active">
        <ul class="list-unstyled components">
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content -->
    <div id="content" class="active">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    
        <!-- hacky but works -->
        <app-piece ></app-piece>
        <h2>something</h2>
    </div>
</div>